<div id="content">
  <div class="row">
<h1 align="center">Welcome to the Course Roster Application</h1>
<div class="col-md-6">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, tellus et pulvinar maximus, turpis quam suscipit orci, id lobortis sapien est sed lectus. Maecenas in dui tincidunt, elementum elit ac, viverra elit. Aliquam vitae dolor non velit ornare posuere. In commodo est sit amet pretium vulputate. Suspendisse congue maximus elit, quis ultrices lacus condimentum in. Nullam ornare purus at efficitur hendrerit. Nulla vitae ultrices erat, tincidunt venenatis sapien. Curabitur non interdum dui, ut semper dui. Nam aliquam auctor nunc, eget venenatis eros cursus scelerisque. Nullam at elit convallis ligula mollis rutrum ut non sem. Aliquam a dignissim massa. Etiam id mattis sem, faucibus porta sem.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, tellus et pulvinar maximus, turpis quam suscipit orci, id lobortis sapien est sed lectus. Maecenas in dui tincidunt, elementum elit ac, viverra elit. Aliquam vitae dolor non velit ornare posuere. In commodo est sit amet pretium vulputate. Suspendisse congue maximus elit, quis ultrices lacus condimentum in. Nullam ornare purus at efficitur hendrerit. Nulla vitae ultrices erat, tincidunt venenatis sapien. Curabitur non interdum dui, ut semper dui. Nam aliquam auctor nunc, eget venenatis eros cursus scelerisque. Nullam at elit convallis ligula mollis rutrum ut non sem. Aliquam a dignissim massa. Etiam id mattis sem, faucibus porta sem.</p>
</div>

<div class="col-md-6">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, tellus et pulvinar maximus, turpis quam suscipit orci, id lobortis sapien est sed lectus. Maecenas in dui tincidunt, elementum elit ac, viverra elit. Aliquam vitae dolor non velit ornare posuere. In commodo est sit amet pretium vulputate. Suspendisse congue maximus elit, quis ultrices lacus condimentum in. Nullam ornare purus at efficitur hendrerit. Nulla vitae ultrices erat, tincidunt venenatis sapien. Curabitur non interdum dui, ut semper dui. Nam aliquam auctor nunc, eget venenatis eros cursus scelerisque. Nullam at elit convallis ligula mollis rutrum ut non sem. Aliquam a dignissim massa. Etiam id mattis sem, faucibus porta sem.
  </p>
</div>

</div>
<div class="row">
<div class="col-md-6">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, tellus et pulvinar maximus, turpis quam suscipit orci, id lobortis sapien est sed lectus. Maecenas in dui tincidunt, elementum elit ac, viverra elit. Aliquam vitae dolor non velit ornare posuere. In commodo est sit amet pretium vulputate. Suspendisse congue maximus elit, quis ultrices lacus condimentum in. Nullam ornare purus at efficitur hendrerit. Nulla vitae ultrices erat, tincidunt venenatis sapien. Curabitur non interdum dui, ut semper dui. Nam aliquam auctor nunc, eget venenatis eros cursus scelerisque. Nullam at elit convallis ligula mollis rutrum ut non sem. Aliquam a dignissim massa. Etiam id mattis sem, faucibus porta sem.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, tellus et pulvinar maximus, turpis quam suscipit orci, id lobortis sapien est sed lectus. Maecenas in dui tincidunt, elementum elit ac, viverra elit. Aliquam vitae dolor non velit ornare posuere. In commodo est sit amet pretium vulputate. Suspendisse congue maximus elit, quis ultrices lacus condimentum in. Nullam ornare purus at efficitur hendrerit. Nulla vitae ultrices erat, tincidunt venenatis sapien. Curabitur non interdum dui, ut semper dui. Nam aliquam auctor nunc, eget venenatis eros cursus scelerisque. Nullam at elit convallis ligula mollis rutrum ut non sem. Aliquam a dignissim massa. Etiam id mattis sem, faucibus porta sem.</p>
</div>

<div class="col-md-6">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, tellus et pulvinar maximus, turpis quam suscipit orci, id lobortis sapien est sed lectus. Maecenas in dui tincidunt, elementum elit ac, viverra elit. Aliquam vitae dolor non velit ornare posuere. In commodo est sit amet pretium vulputate. Suspendisse congue maximus elit, quis ultrices lacus condimentum in. Nullam ornare purus at efficitur hendrerit. Nulla vitae ultrices erat, tincidunt venenatis sapien. Curabitur non interdum dui, ut semper dui. Nam aliquam auctor nunc, eget venenatis eros cursus scelerisque. Nullam at elit convallis ligula mollis rutrum ut non sem. Aliquam a dignissim massa. Etiam id mattis sem, faucibus porta sem.
  </p>
</div>

</div>
</div>
